@use "sass:color";

$font-family-sans-serif: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$primary: #242424;
$white: #fff;

$theme-colors: (
  "primary": $primary
);

$carousel-control-color: $white;
$navbar-dark-color: $white;
$badge-font-weight: 0;
